@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
}

a.nav-link {
    font-size: 16px;
}

@media all and (max-width: 480px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .right {
        width: 100%;
        min-height: 600px;
        display: flex;
        align-items: left;
        justify-content: center;
        padding: 30px;
    }
    
}

@media all and (max-width: 600px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

@media all and (max-width: 750px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: absolute;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    .click {
        margin-top: 5%;
        padding: 8px;
        margin-bottom: auto;
        position: absolute;
    }

    .left {
        display: none;
    }
    
}
@media all and (max-width: 1200px) {

    .nav_links {
        flex-direction: row;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


/*case study hero img*/
.hero {
    margin-top: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url("../images/budgetcoverLG.png");
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    text-shadow: 6px;
    font-weight: bold;
    font-size: 55px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 5%;
}

.lead {
    margin-right: 25px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.jumbotron jumbotron-fluid {
    min-height: 85vh;
}

.img-container {
    margin-top: 10px;
    padding: 0px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/*-- Research problem sections--*/

section.travel {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.containertravel {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 40%;
    height: 600px;
    background-image:url(../images/budget_spalsh.png);
    background-repeat: no-repeat;
    background-image: center;
    background-image: cover;
    background-size: contain;
    border-radius: 8px;
    margin-left: 5%;
}

.right {
    width: 60%;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}

.icon {
    padding: 8px;
    margin: 5px;
    display: inline-block;
}

/*-- research content text--*/
.research {
    padding: 25px;
    text-align: left;
    display: flex;
    justify-content: left;
}

.results {
    text-align: left;
    padding-left: 15%;
    align-items: left;
}

.results h2 {
    font-size: 55px;
}

.results p {
    align-items: center;
    margin: auto;
    font-size: 24px;
    float:left;
    align-items: left;
    display: flex;
    justify-content: flex-start;
}

.card {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.bgcontainer {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../images/researchbg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-style: none;
    background-size: cover;
    background-attachment: fixed;
}

.card-img-overlay h2 {
    font-size: 55px;
}

.card-img-overlay p {
    font-size: 24px;
}

div.container2 {
    padding: 20%;
    margin-right: 15%;
    width: 60px;
    height: 40px;
    float:right;
    align-items: center;
    display: flex;
    justify-content: right;
    border-radius: 8px;
}


.results2 {
    display: inline-flex;
    padding-top: 5%;
    text-align: left;
}

.results2 h2 {
    font-size: 55px;
}

.results2 p {
    align-items: center;
    margin: auto;
    font-size: 24px;
    float:left;
    align-items: left;
    display: flex;
    justify-content: flex-start;
}

.results2 img {
    padding: 8px;
    margin:0;
    display: flex;
    flex-shrink: inherit;
    flex-grow: inherit;

}

/*-- research section survey age--*/

section.research {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container_research {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_res {
    width: 40%;
    height: 600px;
    background-image:url(../images/surveyage.png);
    background-repeat: no-repeat;
    background-image: center;
    background-image: cover;
    background-size: contain;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 20px;

}

.right_res {
    width: 60%;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-right: -10px;

}

.right_res h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right_res p {
    margin: 20px 0;
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}

/*-- research section survey age ends--*/

/*-- research section survey planning --*/

section.research2 {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container_research2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_res2 {
    width: 40%;
    height: 600px;
    background-image:url(../images/surveytimespent.png);
    background-repeat: no-repeat;
    background-image: center;
    background-image: cover;
    background-size: contain;
    min-inline-size: 75px;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 20px;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

.right_res2 {
    width: 60%;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-right: -10px;

}

.right_res2 h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right_res2 p {
    margin: 20px 0;
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}

/*-- research section planning ends--*/

/*-- research section travel apps used--*/

section.research3 {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container_research3 {
    width: 100%;
    margin-left: 10%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.content3 h1 {
    font-size: 40px;
    font-weight: lighter;
}

.content3 p {
    margin: 20px 0;
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}

.list-tab {
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}


button.click {
    margin-left:70px;
    margin-top: 50px;
}

.click {
    margin: 20px;
    padding: 8px;
    position: relative;
    border: none;
    background: #7b38B8;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.click:hover {
    padding: 8px;
    border: none;
    background: #3C1A5B;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    transform: scale(95%);
    transition: .3s;
    transform: translate(-50%, -50%);
}

.click:enabled {
    border-bottom: none;
}

.userinterviews h1 {
font-size: 40px;
font-weight: lighter;
}

.userinterviews h5 {
    font-size: 40px;
    font-weight: lighter;
    }
    
.userinterviews p {
    margin: 20px 0;
    font-weight: 100;
    font-size: x-large;
    line-height: 45px;
    padding: 5px;
}


.myimage {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

  img:hover {
    box-shadow: 0 0 2px 1px #3C1A5B(0, 140, 186, 0.5);
}

/*-- image magnifier section user insight--*/

/*-- image magnifier section user insight--*/

div.container-fluid .col-4 {
    margin-top: 40px;
    height: 400px;
    background-image: url(../images/user_persona.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

div.container-fluid .row .col-4 .textcontent {
    text-align:left;
    margin-top: 100%;
    margin-left: 50px;
    display: inline-flex;
    justify-content: space-around;
}

div.container-fluid .col-8 {
    margin-top: 40px;
    height: 800px;
    display: inline-block;
    justify-content: left;
    padding-right: 125px;
}

div.col-8 h4 {
    margin-top: 5%;
}
/*-- research content ends--*/

.card {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.bgcontainer2 {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../images/skyimage.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-style: none;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
}

.card-img-overlay2 h2 {
    margin-top: 20px;
    font-size: 55px;
}

.card-img-overlay2 p {
    font-size: 24px;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #3C1A5B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 75%;
    display: none;
}
/*-- problem statement sections ends here--*/


/*-- Prototype--*/

.container3 .row {
    height: 600px;
    margin: 0;
    padding: 0;
}

div .col1 {
    text-align: center;
    margin-top: 15px;
    padding-left: 40px;
    padding-top: 40px;
}

div .col1 h2 {
    font-size: 55px;
    margin-top: 5%;
    padding-top: 5px;
}


div .col1 p {
    font-size: 24px;
}


div .col2 {
    display: inline-flex;
    justify-content: flex-start;
}

div .col3 {
    background-color: #1a5b25;
}



/*-- Prototype ends here--*/
