@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
}

a.nav-link {
    font-size: 16px;
}

@media all and (max-width: 480px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }


    .right {
        width: 100%;
        min-height: 600px;
        display: flex;
        align-items: left;
        justify-content: center;
        padding: 30px;
    }
    
}

@media all and (max-width: 600px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

@media all and (max-width: 750px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: absolute;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    .click {
        margin-top: 5%;
        padding: 8px;
        margin-bottom: auto;
        position: absolute;
    }

    .left {
        display: none;
    }
    
}
@media all and (max-width: 1200px) {

    .nav_links {
        flex-direction: row;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


/*case study hero img*/
.hero {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url("../images/budgetcoverLG.png");
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.title {
    text-shadow: 6px;
    font-weight: bold;
    font-size: 55px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 5%;
}

.lead {
    margin-right: 25px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.jumbotron jumbotron-fluid {
    min-height: 85vh;
}

.img-container {
    margin-top: 10px;
    padding: 0px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/*-- Research problem sections--*/

section.travel {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.containertravel {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 40%;
    height: 600px;
    background-image:url(../images/budget_spalsh.png);
    background-repeat: no-repeat;
    background-image: center;
    background-image: cover;
    background-size: contain;
    border-radius: 8px;
    margin-left: 5%;
}

.right {
    width: 60%;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.icon {
    padding: 8px;
    margin: 5px;
    display: inline-block;
}

/*-- research content text--*/
.research {
    padding: 25px;
    text-align: left;
    display: flex;
    justify-content: left;
}

.results {
    text-align: left;
    padding-left: 15%;
    align-items: left;
}

.results h2 {
    font-size: 55px;
}

.results p {
    align-items: center;
    margin: auto;
    font-size: 24px;
    float:left;
    align-items: left;
    display: flex;
    justify-content: flex-start;
}

.results img {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

div.container2 {
    padding: 20%;
    margin-right: 15%;
    width: 60px;
    height: 40px;
    float:right;
    align-items: center;
    display: flex;
    justify-content: right;
    border-radius: 8px;
}


.results2 {
    display: inline-flex;
    padding-top: 5%;
    text-align: left;
}

.results2 h2 {
    font-size: 55px;
}

.results2 p {
    align-items: center;
    margin: auto;
    font-size: 24px;
    float:left;
    align-items: left;
    display: flex;
    justify-content: flex-start;
}

.results2 img {
    padding: 8px;
    margin-top: 5px;
    display: flex;
    flex-shrink: inherit;
    flex-grow: inherit;

}

.container4 img {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.col {
    height:max-content;
    width: max-content;
}

/*-- research content ends--*/

/*-- Research problem sections ends here--*/


/*-- Research solution--*/

/*-- Research solution ends here--*/
