body,html{
    width: 100%;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}

a.nav-link {
    font-size: 16px;
}

@media all and (max-width: 480px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    
}

@media all and (max-width: 600px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

@media all and (max-width: 750px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: absolute;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    .click {
        margin-top: 5%;
        padding: 8px;
        margin-bottom: auto;
        position: absolute;
    }
    
}
@media all and (max-width: 1200px) {

    .nav_links {
        flex-direction: row;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


/*case study hero img*/
.hero {
    background-image: url("../images/budgetcoverLG.png");
}